<?xml version="1.0" encoding="UTF-8"?> 
<application xmlns="http://ns.adobe.com/air/application/2.0"> 
    <id>apqoo.TranslationHelper</id> 
    <version>0.1</version> 
    <filename>TranslationHelper</filename> 
    <initialWindow> 
        <content>lib\app.html</content> 
        <visible>true</visible> 
        <width>890</width> 
        <height>440</height> 
    </initialWindow> 
</application>